name: CI
"on":
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    # Every day at 11:03 UTC.
    - cron: '3 11 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Xcode version
        run: sudo xcode-select -s /Applications/Xcode_15.3.app
      - run: USE_BAZEL_VERSION=7.x bazelisk test //... --enable_bzlmod=false
      - run: bazelisk test //...
      - run: USE_BAZEL_VERSION=rolling bazelisk test //...
